{% extends "home.html" %}
{% block signup %}
   <div id="createuser">
    <center>
        <div class="panel">
            <h2>Add User</h2>
        </div>
        <form method="post">
            <div>
               <div><h3>{{form.firstname.label}}</h3></div>
               <div>{{form.firstname}}</div>
            </div>
            <div>
                <div><h3>{{form.lastname.label}}</h3></div>
                <div>{{form.lastname}}</div>
            </div>
            <div>
               <div><h3>{{form.email.label}}</h3></div>
               <div>{{form.email}}</div>
            </div>
            <div>
               <input type="submit" value="Submit">
            </div>
        </form>
    </center>
   </div>
{% endblock %}