{% extends "home.html" %}
{% block signup %}
   <div id="createuser">
    <center>
        <div class="panel" style="height:100px;">
            <h2>{{group.groupname}}</h2>
            <h2>{{group.description}}</h2>
        </div>
        <form method="post">
            <div>
               <div><h3>{{form.email.label}}</h3></div>
               <div>{{form.email}}</div>
            </div>
            <div>
               <input type="submit" value="Submit">
            </div>
        </form>
    </center>
   </div>
{% endblock %}