<DOCTYPE !html>
<html>
  <head>
  </head>
  <body>
     <h1>Register</h1>
     <form method="post">
         <div>
            <div><h1>{{form.name.label}}</h1></div>
            <div>{{form.name}}</div>
         </div>
         <div>
            <div><h1>{{form.username.label}}</h1></div>
            <div>{{form.username}}</div>
         </div>
         <div>
            <div><h1>{{form.email.label}}</h1></div>
            <div>{{form.email}}</div>
         </div>
         <div>
            <div><h1>{{form.password.label}}</h1></div>
            <div>{{form.password}}</div>
         </div>
         <div>
            <div><h1>{{form.confirm.label}}</h1></div>
            <div>{{form.confirm}}</div>
         </div>
         <div>
            <input type="submit" value="Submit">
         </div>
     </form>
  </body>
</html>